# IntelliJ
.idea/

# Maven
target/

# Me
data/
TODO.md

# Me (temp)
Yo*
#src/main/java/com/github/koolskateguy89/mobileos/app/system/counter/
#src/main/resources/com/github/koolskateguy89/mobileos/app/system/counter/
