/* FIXME: just doesn't work anymore ffs */
.root {
	-fx-text-fill: grey;
}
.root:active {
	-fx-text-fill: red;
	/* Black border on bottom */
	-fx-border-color: black;
	-fx-border-width: 0 0 3 0;
}

.root #edit {
	visibility: hidden;
}
.root:active #edit {
	visibility: visible;
}

#edit-img {
	-fx-image: url('https://image.flaticon.com/icons/png/512/1250/1250615.png');
}
