* {
	/* variables */
	secondary-color: #585858;
}

.root {
	-fx-background-color: #0E0E0E;
}

.label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

#search-bar {
	-fx-text-fill: white;
	-fx-background-color: secondary-color;
	-fx-prompt-text-fill: #A8A8A8;
}

#new-note {
	-jfx-button-type: RAISED;
	-fx-text-fill: black;
	-fx-background-color: #FEFEFE;

	/* Rounded button: https://stackoverflow.com/a/26851888 */
	-fx-background-radius: 5em;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
	-fx-max-width: 30px;
	-fx-max-height: 30px;
}

#notes {
	-fx-background-color: secondary-color;
	-fx-background-radius: 5px; /* Rounded corners */
}
